html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFF;
    overflow: hidden;
    font-family: "Trebuchet MS";
}

#widgetContainer {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 50%
}

#widgetNode {
	position: relative;
}