@import url("//js.arcgis.com/3.14/dijit/themes/claro/claro.css");
@import url("//js.arcgis.com/3.14/dgrid/css/dgrid.css");
@import url("//js.arcgis.com/3.14/dojo/resources/dnd.css");
@import url("//js.arcgis.com/3.14/dojo/resources/dojo.css");
@import url("//js.arcgis.com/3.14//dijit/themes/dijit.css");
@import url("//js.arcgis.com/3.14/dgrid/css/skins/claro.css");


.sub-widget {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: transparent;
}


.sub-widget .dgrid-hider-toggle {
    align-items: flex-end;
}

.sub-widget .dgrid {
    position: relative;
}

.sub-widget #main_dgrid {
    width: 100%;
    height: 100%;
}

.sub-widget #gridPane {
    padding: 0px;
    margin-top: 10px;
}

.sub-widget .dijitContentPane {
     overflow: hidden;
}


.sub-widget .dgrid-scroller {
   height: auto;
    width: auto;
}

.sub-widget .download-form {
    margin: 10px;
}

/* add additional custom styles */

