
<div class="${baseClass}">
	

    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline', gutters:false, liveSplitters: true" style="width: 100%; height: 100%" data-dojo-id="bcMain" id="bcMain" title="Document Finder">
    
    </div>

</div>
